{{ define "main" }}

<link rel="stylesheet" href="{{ "/css/studiopage.css" | relURL }}">

<section class="section">
<div class="container">
    <!-- 헤더 -->
    <div class="studio-page-header">
        <h1>Studio <span>NFP</span></h1>
        <span class="highlight">텍스트 카운터</span>
        <p><br>글자 수를 편하게 세어보세요.</p>
    </div>

<!-- 다른 페이지로 이동 버튼 -->
<div class="page-btn-wrapper">
<a href="{{ "/studio" | relURL }}" class="page-btn">스튜디오 메인</a>
<a href="{{ "/studio/web-demo" | relURL }}" class="page-btn">웹 데모</a>
<a href="{{ "/studio/design-guide/" | relURL }}" class="page-btn">디자인 가이드</a>

</div>

    <!-- 탭 컨텐츠 -->
    <div class="studio-page-content"> 
    
            <div class="studio-container">
      
            <!-- 설명 -->
            <div class="studio-description">
                <h3>페이지 제목</h3>
                <p>페이지 설명<br>
                페이지 설명</p>
                <div class="supported-formats">
                    <small>서브 설명</small>
                </div>
            </div>

        </div>
    </div>
</div>

</section>

{{ end }}