{{ define "main" }}

<link rel="stylesheet" href="{{ "/css/studiopage.css" | relURL }}">

<section class="section">
<div class="container">
    <!-- 헤더 -->
    <div class="studio-page-header">
        <h1>Studio <span>NFP</span></h1>
        <span class="highlight">텍스트 카운터</span>
        <p><br>글자 수를 편하게 세어보세요.</p>
    </div>

<!-- 다른 페이지로 이동 버튼 -->
<div class="page-btn-wrapper">
<a href="{{ "/studio" | relURL }}" class="page-btn">스튜디오 메인</a>
<a href="{{ "/studio/web-demo" | relURL }}" class="page-btn">웹 데모</a>
<a href="{{ "/studio/text-counter" | relURL }}" class="page-btn">텍스트 카운터</a>
<a href="{{ "/studio/text-tools" | relURL }}" class="page-btn">더미 텍스트</a>
<a href="{{ "/studio/unit-converter" | relURL }}" class="page-btn">단위 변환기</a>
<a href="{{ "/studio/font-converter" | relURL }}" class="page-btn">폰트 변환기</a>
<a href="{{ "/studio/size-calculator" | relURL }}" class="page-btn">사이즈 계산기</a>
<a href="{{ "/studio/color-mixer" | relURL }}" class="page-btn">컬러 조합기</a>
<a href="{{ "/studio/color-palette-5" | relURL }}" class="page-btn">조합 컬러 팔레트</a>
<a href="{{ "/studio/color-palette-random" | relURL }}" class="page-btn">랜덤 컬러 팔레트</a>
<a href="{{ "/studio/qr-basic" | relURL }}" class="page-btn">QR코드 생성기</a>
<a href="{{ "/studio/qr-custom" | relURL }}" class="page-btn">커스텀 QR코드 생성기</a>
<a href="{{ "/studio/format-converter" | relURL }}" class="page-btn">이미지 포맷 변환</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
<a href="{{ "#" | relURL }}" class="page-btn">#</a>
</div>

    <!-- 탭 컨텐츠 -->
    <div class="studio-page-content">
    
            <div class="container">
      

        </div>
    </div>
</div>

</section>

{{ end }}